%script{:type=>"text/javascript", :src=>url("http://code.jquery.com/jquery-1.10.1.min.js")}
%script{:type=>"text/javascript", :src=>url("autoexpand-textarea.js")}
%script{:type=>"text/javascript", :src=>url("timetable.js")}

%form#timetable_work{:method=>"post", :action=>"#"}
   %input{:type=>"hidden", :name=>"date", :value=>@date.to_s}
   %table#timetable
      %tr
         %th
         -5.times do |i|
            %th=@date.next_day(i).strftime("%A %e/%m")
      -11.times do |period|
         %tr
            -6.times do |day|
               -if day==0
                  %th{:class=>"rowheader"}=period+1
               -elsif day==5 && period+1==5
                  %td{:class=>"disabled"}
               -elsif day!=5 || period+1<10
                  -if period+1==5 || period+1==9
                     %td{:class=>"section_end"}
                        %textarea{:id=>"#{day}.#{period+1}", :name=>"timetable[#{day}][#{period+1}]"}=@periods[day][period+1] if defined? @periods[day][period+1]
                  -else
                     %td
                        %textarea{:id=>"#{day}.#{period+1}", :name=>"timetable[#{day}][#{period+1}]"}=@periods[day][period+1] if defined? @periods[day][period+1]
   %input#direction{:type=>"hidden",:name=>"direction", :value=>"done"}
   %input#prev{:type=>"submit", :value=>"<<", :onclick=>"$('input#direction').val('prev');"}
   %input#done{:type=>"submit", :value=>"Done", :onclick=>"$('input#direction').val('done');"}
   %input#next{:type=>"submit", :value=>">>", :onclick=>"$('input#direction').val('next');"}
   